.ABline {
	fill: none;
	stroke: steelblue;
	stroke-width: 2px;
}

.BCline{
	fill: none;
	stroke: red;
	stroke-width: 2px;

}

tr{
	background-color: #FF8448;
}

td{
	background-color: #0099FF;
}

table{
	color: #FFFFFF;
}


